{% extends 'web/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="content-wrapper">
    <div class="card-body">

        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.old_password.errors }}
                    {% render_field form.old_password class="form-control form-control-user" placeholder="Old Password" %}
                </div>
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    {{ form.new_password2.errors }}
                    {% render_field form.new_password1 class="form-control form-control-user" placeholder="New Password" %}
                </div>
                <div class="form-group">
                    {% render_field form.new_password2 class="form-control form-control-user" placeholder="New Password Confirmation" %}
                </div>
                <input type="submit" class="btn btn-primary" value="Change">
                <a href="{% url 'web:dashboard' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}